<!-- ! Call to action -->
<section class="call-to-action p-t-50 p-b-50">
  <div class="maxbalk-container call-to-action__container">
    <h2 class="h2 fc-w fw-6">Join Us: Experience the MAXBALK Difference</h2>
    <p class="fc-w p-20 fw-4">
      Whether you're looking to explore new technologies, optimize your
      processes, or solve complex challenges, MAXBALK is here to help. Partner
      with us today and experience the MAXBALK difference for yourself.
    </p>
    <a class="btn__white-br" href="/contact">Contact</a>
  </div>
</section>
<!-- ! Call to action -->
