<!-- ! Navbar -->
<nav id="navbar" class="maxbalk-navbar">
  <div class="nav-wrapper maxbalk-container">
    <ul id="menu">
      <li><a href="/about-us">About</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/services">Services</a></li>
      <a href="/"
        ><img
          width="200"
          height="200"
          loading="lazy"
          src="/images/maxbalk-logo.svg"
          alt=""
      /></a>
      <li><a href="/industry">Industry</a></li>
      <li><a href="/news-and-events">News & Events</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="menuIcon">
    <span class="icon icon-bars"></span>
    <span class="icon icon-bars overlay"></span>
  </div>
</nav>

<div class="overlay-menu">
  <ul id="menu">
    <li><a href="/about-us">About</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="industry">Industry</a></li>
    <li><a href="news-and-events">News & Events</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
<!-- ! Navbar -->
