<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Admin</title>
    <style>
        /* Define a class for the main heading */
        .main-heading {
            font-size: 24px;
            text-align: center;
            margin: 150px 0px;
        }

        /* Define a class for the links */
        .page-link {
            text-decoration: none;
            color: #0077cc;
            margin-right: 10px;
        }

        /* Define a class for the "Login" link */
        .login-link {
            background-color: #0077cc;
            color: white;
            padding: 8px 15px;
            text-decoration: none;
            border-radius: 5px;


        }

        /* Define a class for the "Register" link */
        .register-link {
            background-color: #009900;
            color: white;
            padding: 8px 15px;
            text-decoration: none;
            border-radius: 5px;

        }
    </style>
</head>

<body>
    <h1 class="main-heading">Welcome to Aladdins Admin Panel</h1>
    <center>
        <p>
            <a class="login-link page-link" href="/login">Login</a> or
            <a class="register-link page-link" href="/register">Register</a>
        </p>
    </center>
</body>

</html>