<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maxbalk | Battery Warming Cases Built for Reliability</title>
    <meta name="description" content="Maxbalk's battery warming cases are built for reliability and performance. Explore our solutions that ensure your batteries stay warm and your equipment stays operational in cold conditions." />
    <meta
      name="robots"
      content="max-image-preview:large, max-snippet:-1, max-video-preview:-1 "
    />
    <%- include('partials/preconnect') %>
    <link rel="preload" as="image" href="https://maxbalk.com/images/product-l2-banner.webp">


    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:title" content="Maxbalk | Battery Warming Cases Built for Reliability" />
    <meta property="og:description" content="Maxbalk's battery warming cases are built for reliability and performance. Explore our solutions that ensure your batteries stay warm and your equipment stays operational in cold conditions." />
    <meta property="og:url" content="https://maxbalk.com/products/battery-warming-cases" />
    <link rel="canonical" href="https://maxbalk.com/products/battery-warming-cases" />

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta name="twitter:title" content="Maxbalk | Battery Warming Cases Built for Reliability" />
    <meta name="twitter:description" content="Maxbalk's battery warming cases are built for reliability and performance. Explore our solutions that ensure your batteries stay warm and your equipment stays operational in cold conditions." />

    <%- include('partials/metas'); -%>
  </head>
  <body>
    <%- include('partials/navbar'); -%>

    <!-- ! Banner Section -->
    <section class="product-detail-banner banner p-t-100">
      <div class="maxbalk-container banner__container">
        <h1 class="h2 fc-w fw-6">Maxbalk Battery Warming Cases - Ensuring Peak Performance in Any Environment</h1>
      </div>
      <!-- * Breadcrum -->
      <div class="breadcrum maxbalk-container p-b-50 p-t-75">
        <a href="/">Home</a>
        <a href="/products">Prodcuts</a>
        <span class="breadcrum__active" href="#">Battery Warming Cases</span>
      </div>
      <!-- * Breadcrum -->
    </section>
    <!-- ! Banner Section -->

    <!-- ! Product Detail -->
    <section class="maxbalk-container product-detail m-t-100 m-b-100">
      <p class="fc-p fw-4 p-20">
        Maxbalk’s drone backpacks are engineered for both lightweight design and
        robust protection, offering versatile accommodation for various UAV
        models while adhering to defense transport regulations. These backpacks
        are tailored to ensure drones can be transported safely and securely,
        facilitating rapid deployment and enhancing operational readiness in
        field conditions.
      </p>
      <div class="product-detail__images m-t-50">
        <img
          width="400"
          height="590"
          loading="lazy"
          src="/images/drone-bag.webp"
          alt=""
        />
        <img
          width="400"
          height="280"
          loading="lazy"
          src="/images/drone-bag-four.webp"
          alt=""
        />
        <img
          width="400"
          height="280"
          loading="lazy"
          src="/images/drone-bag-three.webp"
          alt=""
        />
        <img
          width="400"
          height="280"
          loading="lazy"
          src="/images/drone-bag-two.svg"
          alt=""
        />
        <img
          width="400"
          height="280"
          loading="lazy"
          src="/images/backpack-for-drones.webp"
          alt=""
        />
      </div>
    </section>
    <!-- ! Product Detail -->

    <!-- ! Key Features -->
    <section class="key-features p-t-100 p-b-100">
      <div class="maxbalk-container">
        <h2 class="fc-w fw-6 h2 m-b-50">Key Features</h2>
        <div class="maxbalk-cards-container">
          <div class="maxbalk-card --white-bg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="120"
              height="120"
              viewBox="0 0 120 120"
              fill="none"
            >
              <g clip-path="url(#clip0_98_2782)">
                <path
                  d="M108.786 113.465C109.236 113.341 109.618 113.044 109.848 112.638C110.078 112.233 110.137 111.752 110.014 111.303L108.849 107.081C108.788 106.858 108.683 106.65 108.541 106.468C108.399 106.286 108.223 106.133 108.022 106.019C107.821 105.906 107.6 105.832 107.371 105.804C107.142 105.775 106.91 105.792 106.687 105.854C106.238 105.978 105.856 106.275 105.626 106.681C105.396 107.086 105.336 107.566 105.46 108.016L106.624 112.238C106.748 112.687 107.046 113.069 107.451 113.299C107.857 113.529 108.337 113.589 108.786 113.465ZM95.1471 113.465C95.5965 113.341 95.9783 113.044 96.2084 112.638C96.4386 112.233 96.4982 111.752 96.3743 111.303L95.2097 107.081C95.1484 106.858 95.0438 106.65 94.9019 106.468C94.7601 106.286 94.5838 106.133 94.383 106.019C94.1822 105.905 93.961 105.832 93.7319 105.804C93.5028 105.775 93.2703 105.792 93.0478 105.854C92.5984 105.978 92.2166 106.275 91.9865 106.681C91.7563 107.086 91.6967 107.566 91.8206 108.016L92.9852 112.238C93.1092 112.687 93.4067 113.069 93.8121 113.299C94.2175 113.529 94.6977 113.589 95.1471 113.465ZM81.5084 113.465C81.9578 113.341 82.3395 113.044 82.5697 112.638C82.7998 112.233 82.8595 111.752 82.7355 111.303L81.5709 107.081C81.5097 106.858 81.4051 106.65 81.2633 106.468C81.1214 106.286 80.9451 106.133 80.7443 106.019C80.5435 105.905 80.3222 105.832 80.0931 105.804C79.864 105.775 79.6316 105.792 79.4091 105.854C78.9596 105.978 78.5779 106.275 78.3477 106.681C78.1176 107.086 78.0579 107.566 78.1819 108.016L79.3465 112.238C79.4705 112.687 79.7679 113.069 80.1733 113.299C80.5788 113.529 81.059 113.589 81.5084 113.465ZM67.8691 113.465C68.3186 113.341 68.7003 113.044 68.9305 112.638C69.1606 112.233 69.2203 111.752 69.0963 111.303L67.9317 107.081C67.8704 106.858 67.7658 106.65 67.6239 106.468C67.4821 106.286 67.3057 106.133 67.105 106.019C66.9042 105.906 66.683 105.832 66.4539 105.804C66.2248 105.775 65.9924 105.792 65.7698 105.854C65.3204 105.978 64.9387 106.275 64.7085 106.681C64.4784 107.086 64.4187 107.566 64.5427 108.016L65.7073 112.238C65.8313 112.687 66.1287 113.069 66.5341 113.299C66.9395 113.529 67.4198 113.589 67.8691 113.465ZM54.2302 113.465C54.6796 113.341 55.0613 113.044 55.2915 112.638C55.5216 112.233 55.5813 111.752 55.4573 111.303L54.2927 107.081C54.2314 106.858 54.1268 106.65 53.985 106.468C53.8431 106.286 53.6668 106.133 53.466 106.019C53.2653 105.905 53.044 105.832 52.8149 105.804C52.5858 105.775 52.3534 105.792 52.1309 105.854C51.6814 105.978 51.2997 106.275 51.0695 106.681C50.8394 107.086 50.7797 107.566 50.9037 108.016L52.0683 112.238C52.1923 112.687 52.4897 113.069 52.8951 113.299C53.3006 113.529 53.7808 113.589 54.2302 113.465ZM40.5912 113.465C41.0406 113.341 41.4224 113.044 41.6525 112.638C41.8826 112.233 41.9423 111.752 41.8184 111.303L40.6537 107.081C40.5924 106.858 40.4879 106.65 40.346 106.468C40.2042 106.286 40.0278 106.133 39.827 106.019C39.6263 105.905 39.405 105.832 39.1759 105.804C38.9468 105.775 38.7144 105.792 38.4919 105.854C38.0425 105.978 37.6607 106.275 37.4305 106.681C37.2004 107.086 37.1407 107.566 37.2647 108.016L38.4293 112.238C38.5533 112.687 38.8507 113.069 39.2561 113.299C39.6616 113.529 40.1418 113.589 40.5912 113.465ZM26.9522 113.465C27.4016 113.341 27.7834 113.044 28.0135 112.638C28.2437 112.233 28.3033 111.752 28.1794 111.303L27.0148 107.081C26.9535 106.858 26.8489 106.65 26.7071 106.468C26.5652 106.286 26.3889 106.133 26.1881 106.019C25.9873 105.905 25.7661 105.832 25.537 105.804C25.3079 105.775 25.0754 105.792 24.8529 105.854C24.4035 105.978 24.0217 106.275 23.7916 106.681C23.5614 107.086 23.5018 107.566 23.6257 108.016L24.7903 112.238C24.9143 112.687 25.2117 113.069 25.6172 113.299C26.0226 113.529 26.5028 113.589 26.9522 113.465ZM13.3132 113.465C13.7626 113.341 14.1444 113.044 14.3745 112.638C14.6047 112.233 14.6643 111.752 14.5404 111.303L13.3758 107.081C13.3144 106.858 13.2098 106.65 13.068 106.468C12.9261 106.286 12.7498 106.133 12.549 106.019C12.3483 105.906 12.127 105.832 11.8979 105.804C11.6689 105.775 11.4364 105.792 11.2139 105.854C10.7645 105.978 10.3827 106.275 10.1526 106.681C9.92244 107.086 9.86278 107.566 9.98672 108.016L11.1513 112.238C11.2753 112.687 11.5728 113.069 11.9782 113.299C12.3836 113.529 12.8638 113.589 13.3132 113.465ZM116.117 92.075H3.88313C1.74211 92.075 0 93.8171 0 95.9583V101.323C0 101.789 0.185198 102.236 0.514851 102.566C0.844505 102.895 1.29161 103.08 1.75781 103.08H14.4389C15.4097 103.08 16.1967 102.294 16.1967 101.323C16.1967 100.352 15.4097 99.5649 14.4389 99.5649H3.51562V95.9583C3.51575 95.8609 3.55451 95.7675 3.6234 95.6986C3.69229 95.6297 3.7857 95.5909 3.88313 95.5908H116.117C116.214 95.5909 116.307 95.6297 116.376 95.6986C116.445 95.7675 116.484 95.8609 116.484 95.9583V99.5649H22.8124C21.8416 99.5649 21.0546 100.352 21.0546 101.323C21.0546 102.294 21.8416 103.08 22.8124 103.08H118.242C118.708 103.08 119.155 102.895 119.485 102.566C119.815 102.236 120 101.789 120 101.323V95.9583C120 93.8171 118.258 92.075 116.117 92.075ZM118.242 116.239H1.75781C0.787031 116.239 0 117.025 0 117.996C0 118.967 0.787031 119.754 1.75781 119.754H118.242C119.213 119.754 120 118.967 120 117.996C120 117.025 119.213 116.239 118.242 116.239ZM24.9176 85.2089C27.0919 87.3828 30.6382 87.3085 32.7185 85.0411L69.8194 44.6068C70.6286 44.8791 71.4927 44.9461 72.3342 44.8018L75.7219 44.2207C77.8005 43.8633 79.8802 44.9281 80.6606 46.9191C81.423 48.8705 82.3062 51.064 82.7644 52.1974C83.2036 53.2838 84.1683 54.2349 86.7466 56.7774C87.266 57.2897 87.8527 57.8679 88.5138 58.5253C89.8809 59.8833 92.1045 59.8849 93.4713 58.5188L107.546 44.4453C108.911 43.0805 108.913 40.8563 107.552 39.4871C106.95 38.8812 106.414 38.3396 105.936 37.856C103.777 35.6721 102.424 34.2225 101.212 33.7383C100.084 33.2883 97.9069 32.423 95.9906 31.6842C95.1741 31.3692 94.4668 30.8237 93.9547 30.114C93.4425 29.4043 93.1477 28.5611 93.1059 27.687C93.0126 25.691 92.1768 23.8018 90.7627 22.3901L76.4393 8.06839C71.9911 3.62019 65.5413 1.04183 57.2691 0.404327C51.4221 -0.0456731 44.7909 0.466671 37.5588 1.928C33.5571 2.73706 33.6326 8.5069 37.6636 9.2037C44.3365 10.3571 49.7438 12.0699 53.3013 14.1565C56.2664 15.896 57.3469 19.6671 55.7606 22.7414L54.1666 25.8307C53.7808 26.5752 53.642 27.4232 53.7705 28.2518L13.1763 65.4992C10.9123 67.5762 10.8284 71.1195 13.0087 73.3001L24.9176 85.2089ZM55.0802 11.1239C51.1064 8.79308 45.4481 6.98112 38.2624 5.73894C38.1778 5.72417 38.1108 5.71292 38.1087 5.5573C38.1066 5.40378 38.1689 5.39112 38.2554 5.37378C47.7368 3.45776 64.9821 1.583 73.9535 10.5544L88.2771 24.8761C89.0721 25.6698 89.5419 26.7318 89.5943 27.8539C89.6686 29.4089 90.1932 30.9088 91.1043 32.1712C92.0154 33.4336 93.2737 34.404 94.7262 34.9643C95.6646 35.326 96.6675 35.7188 97.5769 36.0776L95.5868 38.0016C95.335 38.245 95.1616 38.558 95.089 38.9006C95.0163 39.2432 95.0476 39.5997 95.1789 39.9244C95.3102 40.249 95.5356 40.527 95.826 40.7228C96.1164 40.9185 96.4586 41.023 96.8088 41.0229C97.2485 41.0229 97.6891 40.8589 98.0304 40.5289L100.872 37.7813C101.506 38.3757 102.387 39.2665 103.436 40.3273C103.916 40.8129 104.454 41.3569 105.06 41.9588L90.9916 56.0314C90.4005 55.4443 89.8081 54.8585 89.2146 54.2738C88.1058 53.1804 87.15 52.238 86.5767 51.6028L92.0093 46.3505C92.1752 46.1901 92.308 45.9985 92.3999 45.7868C92.4918 45.5751 92.5411 45.3473 92.545 45.1165C92.5489 44.8857 92.5073 44.6565 92.4226 44.4417C92.3379 44.227 92.2117 44.0311 92.0513 43.8652C91.8909 43.6991 91.6993 43.5663 91.4876 43.4743C91.2758 43.3823 91.048 43.3329 90.8172 43.3291C90.5863 43.3252 90.357 43.3668 90.1423 43.4516C89.9275 43.5364 89.7316 43.6627 89.5657 43.8232L84.9724 48.2642C84.2475 46.448 82.8131 40.6367 76.5244 40.6367C75.3872 40.6367 74.9062 40.8242 71.7391 41.3372C71.48 41.3814 71.2141 41.3629 70.9635 41.2833C70.713 41.2037 70.4852 41.0652 70.2991 40.8795C56.7813 27.3579 57.3605 27.9553 57.311 27.8787L57.2986 27.8583C57.2626 27.7952 57.243 27.7241 57.2415 27.6515C57.2401 27.5788 57.2569 27.507 57.2904 27.4425L58.8844 24.3532C61.3275 19.6191 59.6562 13.8082 55.0802 11.1239ZM15.5531 68.0895L55.6999 31.2525L66.9654 42.5168L30.128 82.6646C29.3876 83.4715 28.1475 83.4673 27.4034 82.7229L15.4948 70.8141C15.3145 70.6342 15.1726 70.4196 15.0775 70.1833C14.9825 69.947 14.9363 69.6939 14.9417 69.4393C14.9472 69.1847 15.0042 68.9338 15.1092 68.7018C15.2143 68.4698 15.3653 68.2615 15.5531 68.0895Z"
                  fill="#333333"
                />
              </g>
              <defs>
                <clipPath id="clip0_98_2782">
                  <rect width="120" height="120" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <h3 class="h4 fc-p fw-6">Durable Construction</h3>
            <p class="fc-p p-18 fw-4">
              Constructed from high-quality materials, our drone backpacks are
              built to withstand the rigors of travel and outdoor adventures,
              ensuring long-lasting durability and protection for your drone and
              accessories.
            </p>
          </div>
          <div class="maxbalk-card --white-bg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="120"
              height="120"
              viewBox="0 0 120 120"
              fill="none"
            >
              <g clip-path="url(#clip0_98_2788)">
                <path
                  d="M41.0226 79.2227C41.939 80.1372 43.4231 80.1372 44.3367 79.2227C45.2533 78.3062 45.2533 76.8229 44.3367 75.9084C43.4231 74.992 41.939 74.992 41.0226 75.9084C40.109 76.8229 40.109 78.3062 41.0226 79.2227ZM50.969 72.5924L73.3966 50.1501C74.3113 49.2344 74.3113 47.7503 73.3956 46.8348C72.4792 45.9203 70.9961 45.9212 70.0806 46.8358L47.6528 69.2781C46.7374 70.1936 46.7383 71.6777 47.6538 72.5931C48.5692 73.5079 50.0535 73.5079 50.969 72.5924Z"
                  fill="#333333"
                />
                <path
                  d="M36.9186 63.4396L16.7319 83.6261C16.4992 83.8598 16.3183 84.1399 16.201 84.4481C16.1973 84.4556 16.1937 84.4628 16.1909 84.4701C14.3269 89.511 8.67171 104.802 6.44703 110.817C6.29176 111.238 6.26038 111.694 6.3566 112.132C6.45283 112.57 6.67263 112.971 6.98995 113.288C7.30726 113.605 7.70878 113.824 8.14689 113.92C8.58501 114.015 9.04134 113.983 9.46179 113.827L35.7776 104.053C36.0927 103.934 36.3793 103.751 36.6191 103.514L56.8037 83.3294L92.7922 119.522C93.0101 119.741 93.2692 119.915 93.5545 120.034C93.8399 120.152 94.1458 120.213 94.4548 120.213H94.4567C94.7659 120.213 95.0719 120.151 95.3572 120.032C95.6425 119.913 95.9014 119.739 96.1191 119.519L119.321 96.1019C120.229 95.1855 120.225 93.7078 119.313 92.7949L83.3265 56.8066L109.825 30.3084C115.321 24.8182 115.325 15.9135 109.826 10.4205C104.331 4.9237 95.4352 4.92276 89.9375 10.4205L63.4367 36.9213C62.078 35.5626 29.4844 2.96808 27.4362 0.921045C26.9984 0.482672 26.4046 0.235676 25.785 0.234138C25.1654 0.232601 24.5704 0.476648 24.1304 0.912842L0.694761 24.1113C0.474952 24.329 0.300398 24.588 0.181158 24.8735C0.0619183 25.159 0.000350072 25.4652 1.48853e-06 25.7746C-0.000347095 26.0839 0.0605309 26.3903 0.179127 26.676C0.297723 26.9618 0.471693 27.2212 0.691011 27.4394L36.9186 63.4396ZM65.0937 41.8935L65.0947 41.8926V41.8917L79.7103 27.2772L92.968 40.5358L78.3551 55.1477C78.3551 55.1486 78.3551 55.1486 78.3542 55.1486V55.1496L34.962 98.5417L21.7041 85.2831L65.0937 41.8935ZM87.9976 18.9897L101.255 32.2483L96.2832 37.2208L83.0246 23.9629L87.9976 18.9897ZM21.0552 104.521L15.7395 99.2055L19.3184 89.5275L30.7222 100.931L21.0552 104.521ZM13.9498 104.045L16.2209 106.316L12.6139 107.656L13.9498 104.045ZM85.4487 65.5582L75.4062 75.5988C74.4908 76.5133 74.4908 77.9974 75.4062 78.9128C76.321 79.8285 77.8051 79.8285 78.7205 78.9138L88.763 68.8732L95.8611 75.9714L89.1338 82.6978C88.2191 83.6132 88.2191 85.0973 89.1338 86.0128C90.0493 86.9285 91.5334 86.9275 92.4488 86.0128L99.1761 79.2855L106.275 86.3854L96.2337 96.426C95.318 97.3406 95.318 98.8246 96.2337 99.7401C97.1483 100.656 98.6323 100.656 99.5478 99.7401L109.59 89.7007L114.349 94.4603C94.5582 114.234 94.452 114.543 94.452 114.543L60.1189 80.0144L80.0124 60.1207L85.4487 65.5582ZM106.511 13.7355C110.175 17.395 110.177 23.3303 106.51 26.9934L104.57 28.9333L91.3119 15.6757L93.2525 13.7348C96.9158 10.0708 102.847 10.068 106.511 13.7355ZM31.0006 11.1145L20.96 21.1523C20.0455 22.0668 20.0455 23.5509 20.96 24.4664C21.8757 25.3821 23.3598 25.3821 24.2752 24.4675L34.3159 14.4285L41.4139 21.5278L34.6885 28.2513C33.773 29.1667 33.773 30.6508 34.6876 31.5665C35.603 32.481 37.0862 32.482 38.0028 31.5665L44.7291 24.8418L51.3549 31.4685L41.3159 41.5082C40.4014 42.4237 40.4014 43.9078 41.3159 44.8232C42.2316 45.7378 43.7157 45.7387 44.6312 44.8223L54.6699 34.7826L60.1226 40.2356L40.2329 60.1253L5.67171 25.7803C5.67171 25.7803 5.99656 25.6741 25.771 5.88417L31.0006 11.1145Z"
                  fill="#333333"
                />
              </g>
              <defs>
                <clipPath id="clip0_98_2788">
                  <rect width="120" height="120" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <h3 class="h4 fc-p fw-6">Customizable Interior</h3>
            <p class="fc-p p-18 fw-4">
              The interior of our backpacks features customizable compartments
              and padding, allowing you to securely store and organize your
              drone, controller, batteries, and other accessories according to
              your specific needs.
            </p>
          </div>
          <div class="maxbalk-card --white-bg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="118"
              height="120"
              viewBox="0 0 118 120"
              fill="none"
            >
              <path
                d="M6.2653 33.7012H7.63725V35.6445C7.63879 37.0635 8.2031 38.4239 9.20639 39.4274C10.2097 40.4309 11.57 40.9954 12.989 40.9972H15.8942V69.8859H10.6804C8.06972 69.8887 5.56675 70.927 3.72062 72.773C1.87449 74.6189 0.835963 77.1218 0.832877 79.7325V84.82C0.833134 85.2709 1.01236 85.7032 1.33119 86.022C1.65001 86.3408 2.08235 86.5201 2.53324 86.5203H4.56493V104.593C4.56725 106.668 5.39277 108.658 6.86039 110.126C8.32802 111.593 10.3179 112.419 12.3934 112.421H16.0536C16.4516 114.549 17.5801 116.47 19.2442 117.854C20.9082 119.237 23.0033 119.997 25.1675 120H92.8284C94.9926 119.997 97.0877 119.237 98.7517 117.854C100.416 116.47 101.544 114.549 101.942 112.421H105.607C107.683 112.419 109.672 111.593 111.14 110.125C112.607 108.658 113.433 106.668 113.435 104.593V86.5242H115.467C115.917 86.5242 116.35 86.3451 116.669 86.0262C116.988 85.7073 117.167 85.2748 117.167 84.8239V79.7325C117.164 77.1219 116.126 74.619 114.28 72.773C112.434 70.9271 109.931 69.8887 107.32 69.8859H102.106V40.9972H105.011C106.43 40.9954 107.79 40.4309 108.793 39.4274C109.797 38.4239 110.361 37.0635 110.363 35.6445V33.7012H111.734C113.258 33.6997 114.719 33.0938 115.796 32.0165C116.874 30.9393 117.48 29.4786 117.482 27.955V18.8157C117.48 17.292 116.874 15.8312 115.796 14.7538C114.719 13.6764 113.258 13.0703 111.734 13.0685H110.363V11.1252C110.361 9.70624 109.797 8.34579 108.793 7.34232C107.79 6.33885 106.43 5.77429 105.011 5.77249H89.7745V4.62207C89.7732 3.39662 89.2859 2.22172 88.4193 1.35519C87.5528 0.488666 86.3779 0.00128603 85.1525 0H76.4514C75.2262 0.00154316 74.0515 0.489037 73.1852 1.35554C72.3189 2.22204 71.8316 3.39679 71.8304 4.62207V5.77249H46.1743V4.62207C46.173 3.39595 45.6851 2.22046 44.8177 1.35382C43.9503 0.487182 42.7745 0.000256806 41.5483 0H32.8473C31.6219 0.00128603 30.447 0.488666 29.5804 1.35519C28.7139 2.22172 28.2265 3.39662 28.2252 4.62207V5.77249H12.989C11.57 5.77429 10.2097 6.33885 9.20639 7.34232C8.2031 8.34579 7.63879 9.70624 7.63725 11.1252V13.0685H6.2653C4.74159 13.0703 3.2808 13.6764 2.20338 14.7538C1.12595 15.8312 0.519866 17.292 0.518066 18.8157V27.955C0.519867 29.4786 1.12599 30.9393 2.20344 32.0165C3.28089 33.0938 4.74168 33.6997 6.2653 33.7012ZM26.3704 40.9972C26.3704 41.0555 26.3529 41.1099 26.3529 41.1692V55.9439C26.3559 56.5842 26.5313 57.2119 26.8608 57.7609C27.1903 58.3099 27.6616 58.76 28.2252 59.0638V64.0046C19.0705 60.735 19.328 51.4404 19.2949 51.3432V40.9972H26.3704ZM75.2311 59.5127H79.1031V59.6342C79.1031 60.0851 79.2822 60.5176 79.6011 60.8365C79.9199 61.1554 80.3524 61.3345 80.8034 61.3345C81.2544 61.3345 81.6869 61.1554 82.0057 60.8365C82.3246 60.5176 82.5038 60.0851 82.5038 59.6342V59.5127H86.3738V68.1603C86.3738 69.6379 85.7868 71.055 84.742 72.0998C83.6972 73.1447 82.2801 73.7317 80.8024 73.7317C79.3248 73.7317 77.9077 73.1447 76.8629 72.0998C75.8181 71.055 75.2311 69.6379 75.2311 68.1603V59.5127ZM88.0742 40.9972C88.1199 40.9972 88.1637 41.0153 88.1961 41.0475C88.2285 41.0798 88.2469 41.1235 88.2471 41.1692V55.9381C88.2471 55.9834 88.2293 56.027 88.1975 56.0594C88.1657 56.0917 88.1224 56.1103 88.0771 56.111H82.5038V52.2488C82.5038 51.7978 82.3246 51.3653 82.0057 51.0464C81.6869 50.7276 81.2544 50.5484 80.8034 50.5484C80.3524 50.5484 79.9199 50.7276 79.6011 51.0464C79.2822 51.3653 79.1031 51.7978 79.1031 52.2488V56.112H73.5288C73.4837 56.1115 73.4406 56.0933 73.4088 56.0613C73.3769 56.0293 73.359 55.9861 73.3587 55.941V41.1721C73.3586 41.1494 73.363 41.1268 73.3716 41.1058C73.3803 41.0847 73.393 41.0656 73.4091 41.0495C73.4252 41.0335 73.4443 41.0207 73.4653 41.0121C73.4864 41.0034 73.5089 40.999 73.5317 40.9992L88.0742 40.9972ZM71.8304 59.0638V64.7965H46.1743V59.0638C46.7387 58.76 47.2107 58.3096 47.5406 57.76C47.8705 57.2104 48.046 56.582 48.0486 55.941V41.1682C48.0486 41.109 48.034 41.0546 48.0311 40.9972H69.9794C69.9794 41.0555 69.9619 41.1099 69.9619 41.1692V55.9439C69.9641 56.5839 70.1389 57.2114 70.4677 57.7604C70.7965 58.3095 71.2672 58.7597 71.8304 59.0638ZM31.626 59.5127H35.4989V59.6342C35.4989 60.0851 35.6781 60.5176 35.9969 60.8365C36.3158 61.1554 36.7483 61.3345 37.1993 61.3345C37.6502 61.3345 38.0827 61.1554 38.4016 60.8365C38.7205 60.5176 38.8996 60.0851 38.8996 59.6342V59.5127H42.7736V68.1603C42.7736 69.6379 42.1866 71.055 41.1417 72.0998C40.0969 73.1447 38.6798 73.7317 37.2022 73.7317C35.7246 73.7317 34.3075 73.1447 33.2626 72.0998C32.2178 71.055 31.6308 69.6379 31.6308 68.1603L31.626 59.5127ZM44.4691 40.9972C44.4917 40.9971 44.5142 41.0014 44.5352 41.01C44.5562 41.0186 44.5752 41.0313 44.5913 41.0473C44.6074 41.0632 44.6201 41.0822 44.6288 41.1032C44.6375 41.1241 44.642 41.1465 44.642 41.1692V55.9381C44.6418 55.9833 44.6238 56.0266 44.5921 56.0587C44.5603 56.0909 44.5172 56.1093 44.472 56.1101H38.8996V52.2488C38.8996 51.7978 38.7205 51.3653 38.4016 51.0464C38.0827 50.7276 37.6502 50.5484 37.1993 50.5484C36.7483 50.5484 36.3158 50.7276 35.9969 51.0464C35.6781 51.3653 35.4989 51.7978 35.4989 52.2488V56.112H29.9246C29.8794 56.1115 29.8362 56.0933 29.8043 56.0614C29.7723 56.0294 29.7541 55.9862 29.7536 55.941V41.1721C29.7536 41.1263 29.7719 41.0823 29.8043 41.0498C29.8367 41.0174 29.8807 40.9992 29.9266 40.9992L44.4691 40.9972ZM4.2336 79.7325C4.23566 78.0234 4.91557 76.3849 6.12416 75.1765C7.33275 73.9681 8.97133 73.2884 10.6804 73.2866H15.8942V83.1235H4.23458L4.2336 79.7325ZM7.96566 104.597V86.5242H15.8942V109.023H12.3963C11.2221 109.023 10.096 108.556 9.26531 107.727C8.43462 106.897 7.9672 105.771 7.96566 104.597ZM88.3938 116.596H85.0835V96.8323C85.1019 96.3007 85.0108 95.771 84.8158 95.2761C84.6208 94.7812 84.3261 94.3317 83.9501 93.9555C83.574 93.5793 83.1245 93.2845 82.6297 93.0894C82.1348 92.8943 81.6051 92.8031 81.0735 92.8214H36.9263C36.3946 92.8031 35.8649 92.8943 35.3701 93.0894C34.8752 93.2845 34.4258 93.5793 34.0497 93.9555C33.6736 94.3317 33.3789 94.7812 33.184 95.2761C32.989 95.771 32.8979 96.3007 32.9163 96.8323V116.596H29.6059V96.8313C29.608 94.8906 30.3799 93.0299 31.7523 91.6577C33.1248 90.2855 34.9855 89.5138 36.9263 89.512H81.0735C83.0143 89.5138 84.875 90.2855 86.2474 91.6577C87.6198 93.0299 88.3918 94.8906 88.3938 96.8313V116.596ZM81.6827 116.596H36.317V96.8323C36.317 96.3756 36.4706 96.2221 36.9263 96.2221H81.0735C81.5292 96.2221 81.6827 96.3756 81.6827 96.8323V116.596ZM110.034 104.597C110.033 105.77 109.566 106.896 108.736 107.726C107.906 108.556 106.781 109.023 105.607 109.024H102.109V86.5242H110.038L110.034 104.597ZM107.32 73.2915C109.029 73.2936 110.668 73.9733 111.876 75.1817C113.084 76.3901 113.764 78.0284 113.766 79.7373V83.1235H102.107V73.2866L107.32 73.2915ZM98.7048 110.718C98.703 112.276 98.0833 113.77 96.9817 114.871C95.88 115.973 94.3864 116.593 92.8284 116.594H91.7946V96.8313C91.7912 93.9891 90.6606 91.2642 88.6507 89.2545C86.6408 87.2448 83.9158 86.1144 81.0735 86.1113H36.9263C34.084 86.1144 31.359 87.2448 29.3491 89.2545C27.3392 91.2642 26.2086 93.9891 26.2052 96.8313V116.596H25.1714C23.6139 116.595 22.1207 115.975 21.0191 114.874C19.9176 113.773 19.2975 112.28 19.2949 110.723V61.4609C21.5166 64.4278 24.6559 66.578 28.2252 67.5773V68.1603C28.22 70.5396 29.1601 72.8235 30.8387 74.5097C32.5174 76.1958 34.7972 77.146 37.1764 77.1513C39.5557 77.1566 41.8397 76.2165 43.5258 74.5378C45.212 72.8592 46.1622 70.5794 46.1675 68.2001H71.8323C71.8376 70.5794 72.7878 72.8592 74.474 74.5378C75.3089 75.369 76.2993 76.0276 77.3887 76.4761C78.4781 76.9245 79.6452 77.1539 80.8233 77.1513C82.0014 77.1487 83.1675 76.9141 84.2549 76.4608C85.3423 76.0076 86.3298 75.3446 87.161 74.5097C87.9922 73.6748 88.6508 72.6843 89.0993 71.5949C89.5477 70.5055 89.7771 69.3384 89.7745 68.1603V67.5773C93.3433 66.579 96.4826 64.4302 98.7048 61.4647V110.718ZM98.7048 51.3413C98.7014 54.1143 97.8418 56.8187 96.2433 59.0848C94.6449 61.3509 92.3857 63.0681 89.7745 64.0017V59.0648C90.3385 58.7609 90.8101 58.3105 91.1396 57.7611C91.4691 57.2117 91.6444 56.5836 91.6469 55.9429V41.1673C91.6469 41.109 91.6323 41.0546 91.6294 40.9972H98.7029L98.7048 51.3413ZM111.734 16.4692C112.357 16.4698 112.953 16.7171 113.393 17.1571C113.833 17.597 114.08 18.1936 114.081 18.8157V27.955C114.08 28.577 113.833 29.1732 113.393 29.613C112.953 30.0527 112.356 30.3 111.734 30.3005H110.363V16.4692H111.734ZM105.011 9.17322C105.528 9.17399 106.024 9.37993 106.39 9.74586C106.756 10.1118 106.961 10.6079 106.962 11.1252V35.6445C106.961 36.1619 106.756 36.6579 106.39 37.0239C106.024 37.3898 105.528 37.5957 105.011 37.5965H89.7745V9.17322H105.011ZM75.2311 4.62207C75.2313 4.2984 75.36 3.98804 75.5887 3.75908C75.8175 3.53012 76.1278 3.40124 76.4514 3.40073H85.1525C85.4762 3.40124 85.7866 3.53008 86.0155 3.75902C86.2444 3.98795 86.3733 4.29831 86.3738 4.62207V37.5965H75.2311V4.62207ZM71.8304 9.17322V37.5965H46.1743V9.17322H71.8304ZM31.626 4.62207C31.6265 4.29831 31.7553 3.98795 31.9843 3.75902C32.2132 3.53008 32.5236 3.40124 32.8473 3.40073H41.5483C41.709 3.40034 41.8682 3.43165 42.0168 3.49284C42.1653 3.55404 42.3004 3.64392 42.4142 3.75736C42.528 3.8708 42.6183 4.00556 42.68 4.15394C42.7416 4.30231 42.7734 4.46139 42.7736 4.62207V37.5965H31.626V4.62207ZM11.038 11.1252C11.0385 10.6079 11.2442 10.1118 11.6099 9.74586C11.9757 9.37993 12.4716 9.17399 12.989 9.17322H28.2252V37.5965H12.989C12.4716 37.5957 11.9757 37.3898 11.6099 37.0239C11.2442 36.6579 11.0385 36.1619 11.038 35.6445V11.1252ZM3.91879 18.8157C3.91931 18.1936 4.16669 17.597 4.60664 17.1571C5.04658 16.7171 5.64312 16.4698 6.2653 16.4692H7.63725V30.3005H6.2653C5.64329 30.3 5.04689 30.0527 4.60698 29.613C4.16706 29.1732 3.91957 28.577 3.91879 27.955V18.8157Z"
                fill="#333333"
              />
            </svg>
            <h3 class="h4 fc-p fw-6">Ergonomic Design</h3>
            <p class="fc-p p-18 fw-4">
              Designed for comfort and convenience, our backpacks feature padded
              shoulder straps and a breathable back panel, ensuring comfortable
              carrying even during extended periods.
            </p>
          </div>
          <div class="maxbalk-card --white-bg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="120"
              height="120"
              viewBox="0 0 120 120"
              fill="none"
            >
              <g clip-path="url(#clip0_98_2800)">
                <path
                  d="M76 24C79.1826 24 82.2349 22.7357 84.4853 20.4853C86.7357 18.2348 88 15.1826 88 12C88 8.8174 86.7357 5.76516 84.4853 3.51472C82.2349 1.26428 79.1826 0 76 0C72.8174 0 69.7652 1.26428 67.5147 3.51472C65.2643 5.76516 64 8.8174 64 12C64 15.1826 65.2643 18.2348 67.5147 20.4853C69.7652 22.7357 72.8174 24 76 24ZM76 4C78.1218 4 80.1566 4.84286 81.6569 6.34315C83.1572 7.84344 84 9.87827 84 12C84 14.1217 83.1572 16.1566 81.6569 17.6569C80.1566 19.1571 78.1218 20 76 20C73.8783 20 71.8435 19.1571 70.3432 17.6569C68.8429 16.1566 68 14.1217 68 12C68 9.87827 68.8429 7.84344 70.3432 6.34315C71.8435 4.84286 73.8783 4 76 4ZM4.00003 120H116C116.683 120.001 117.356 119.827 117.953 119.494C118.55 119.162 119.051 118.682 119.41 118.1C119.769 117.519 119.973 116.855 120.002 116.172C120.032 115.489 119.886 114.81 119.578 114.2L117.578 110.2C117.246 109.536 116.735 108.978 116.103 108.589C115.471 108.201 114.742 107.996 114 108H96V55.632C97.1664 55.2219 98.1766 54.4598 98.8913 53.451C99.6059 52.4422 99.9898 51.2363 99.9898 50C99.9898 48.7637 99.6059 47.5578 98.8913 46.549C98.1766 45.5402 97.1664 44.7781 96 44.368V34C96 33.4696 95.7893 32.9609 95.4142 32.5858C95.0392 32.2107 94.5305 32 94 32C93.4696 32 92.9609 32.2107 92.5858 32.5858C92.2107 32.9609 92 33.4696 92 34V44H86.14C85.8108 44.0001 85.4867 43.9188 85.1965 43.7636C84.9062 43.6083 84.6587 43.3838 84.476 43.11L75.02 28.926C73.5484 26.7148 71.3388 25.0986 68.7857 24.3659C66.2327 23.6332 63.5023 23.8317 61.082 24.926C60.9222 23.8514 60.4721 22.8407 59.7802 22.003C59.0884 21.1652 58.1811 20.5322 57.156 20.172L45.814 16.232C44.3075 15.715 42.6575 15.8157 41.225 16.5121C39.7924 17.2085 38.694 18.4439 38.17 19.948L36.2 25.61C35.7063 25.4629 35.1748 25.5121 34.7164 25.7472C34.258 25.9824 33.908 26.3853 33.7393 26.8722C33.5707 27.359 33.5964 27.8921 33.8112 28.3604C34.0259 28.8287 34.4131 29.1961 34.892 29.386L32.272 36.948C31.7801 36.8066 31.2527 36.8591 30.7983 37.0949C30.344 37.3306 29.9973 37.7316 29.8297 38.2152C29.6621 38.6988 29.6863 39.2283 29.8973 39.6947C30.1083 40.161 30.4901 40.5287 30.964 40.722C29.028 46.312 28.388 47.384 28.764 49.438C27.484 49.745 26.3405 50.4645 25.5096 51.4854C24.6788 52.5064 24.2067 53.7723 24.1663 55.088C24.1258 56.4037 24.5191 57.6963 25.2856 58.7664C26.0521 59.8365 27.1493 60.6249 28.408 61.01C41.952 65.724 42.672 66.342 45.168 65.564L43.368 78.24C43.168 79.616 44.01 78.562 28.778 99.092C27.8133 100.355 27.2467 101.877 27.1505 103.464C27.0543 105.05 27.4329 106.63 28.238 108H6.00003C5.25782 107.997 4.52945 108.201 3.89719 108.59C3.26493 108.978 2.75397 109.536 2.42203 110.2L0.422029 114.2C0.114507 114.81 -0.0315337 115.489 -0.00216273 116.172C0.0272083 116.855 0.231011 117.519 0.589807 118.1C0.948604 118.682 1.45043 119.162 2.04742 119.494C2.6444 119.827 3.31665 120.001 4.00003 120ZM80.814 108C81.5886 106.685 81.998 105.188 82 103.662V83.8C82.0035 80.863 80.9273 78.0272 78.976 75.832L67.022 62.378C66.7898 62.1176 66.6316 61.7998 66.5637 61.4576C66.4958 61.1154 66.5208 60.7613 66.636 60.432L70.296 49.458L71.98 51.814C72.9063 53.1077 74.1274 54.1622 75.5422 54.8901C76.9571 55.618 78.5249 55.9985 80.116 56H92V108H80.814ZM62.814 28.518C64.3674 27.8488 66.1062 27.7457 67.7278 28.2267C69.3493 28.7076 70.7508 29.7421 71.688 31.15L81.14 45.328C81.6886 46.151 82.4322 46.8256 83.3046 47.2918C84.1769 47.758 85.1509 48.0013 86.14 48H94C94.5305 48 95.0392 48.2107 95.4142 48.5858C95.7893 48.9609 96 49.4696 96 50C96 50.5304 95.7893 51.0392 95.4142 51.4142C95.0392 51.7893 94.5305 52 94 52H80.116C79.1613 51.9989 78.2206 51.7704 77.3716 51.3336C76.5227 50.8968 75.79 50.2642 75.234 49.488L67.634 38.838C67.4861 38.6132 67.2943 38.4206 67.0701 38.2717C66.846 38.1228 66.5941 38.0207 66.3296 37.9714C66.065 37.9221 65.7932 37.9268 65.5305 37.985C65.2678 38.0433 65.0195 38.154 64.8006 38.3104C64.5816 38.4669 64.3965 38.6659 64.2563 38.8956C64.1161 39.1253 64.0237 39.3809 63.9846 39.6472C63.9456 39.9134 63.9606 40.1848 64.0289 40.4451C64.0972 40.7054 64.2173 40.9492 64.382 41.162L67.43 45.432L62.854 59.158C62.5134 60.1579 62.445 61.2305 62.6559 62.2656C62.8668 63.3007 63.3493 64.261 64.054 65.048L75.998 78.49C77.2944 79.9543 78.007 81.8443 78 83.8V103.662C78.0287 104.715 77.6659 105.742 76.9818 106.543C76.2976 107.344 75.3407 107.863 74.296 108C73.7464 108.041 73.1942 107.968 72.6742 107.785C72.1543 107.602 71.6776 107.314 71.2742 106.938C70.8709 106.563 70.5495 106.108 70.3302 105.602C70.1109 105.097 69.9985 104.551 70 104V91.4C69.9896 88.7035 69.0787 86.0878 67.412 83.968L52.068 66.786C51.1008 65.5377 50.445 64.0769 50.155 62.5247C49.8649 60.9724 49.9489 59.3733 50.4 57.86C57.916 34.138 58 35.47 58.032 35.27C58.948 32.56 59.526 29.946 62.822 28.518H62.814ZM51.038 43.448L36.052 38.248L38.67 30.692L53.6 35.878L51.038 43.448ZM41.944 21.248C42.312 20.208 43.448 19.654 44.496 20.006L55.838 23.946C56.3352 24.1219 56.7427 24.4871 56.972 24.9621C57.2012 25.437 57.2336 25.9833 57.062 26.482L56.062 29.388C55.602 30.168 55.234 30.994 54.962 31.856C54.858 32.188 56.532 32.656 39.986 26.914L41.944 21.248ZM42.726 61.726L29.726 57.228C29.22 57.0774 28.786 56.7477 28.5052 56.3005C28.2244 55.8534 28.1159 55.3193 28.2 54.798C28.2694 54.5277 28.3934 54.2745 28.5645 54.0541C28.7356 53.8337 28.9501 53.6507 29.1948 53.5165C29.4394 53.3823 29.709 53.2997 29.9868 53.2738C30.2646 53.2479 30.5448 53.2793 30.81 53.366C32.852 54.076 32.972 54.178 33.586 54.11C39.746 56.644 39.564 56.632 40.112 56.632C40.5754 56.6325 41.0246 56.472 41.3828 56.1781C41.741 55.8841 41.9861 55.4749 42.076 55.0203C42.166 54.5657 42.0953 54.094 41.8761 53.6858C41.6569 53.2775 41.3027 52.9581 40.874 52.782C31.824 49.06 33.762 49.832 33.228 49.69C32.9717 49.4332 32.7934 49.1091 32.7138 48.7551C32.6341 48.4011 32.6564 48.0318 32.778 47.69L34.738 42.03L49.75 47.23C49.004 49.44 46.034 58.292 45.276 60.498C45.1017 60.9981 44.7363 61.4086 44.2597 61.6395C43.7832 61.8705 43.2345 61.903 42.734 61.73L42.726 61.726ZM32 101.476L45.866 82.4C47.446 80.274 47.284 79.2 48.742 68.974C49.21 69.624 47.682 67.876 56.424 77.666L55.4 83.532C55.172 84.892 55.988 83.594 38.512 106.152C38.0563 106.828 37.4071 107.35 36.6494 107.651C35.8916 107.952 35.0608 108.016 34.2656 107.837C33.4705 107.657 32.7482 107.241 32.1933 106.644C31.6384 106.047 31.2769 105.296 31.156 104.49C31.0284 103.413 31.3318 102.33 32 101.476ZM57.8 87.718C59.0332 85.8592 59.7314 83.697 59.818 81.468L64.332 86.522C65.418 87.916 66.004 89.634 66 91.4V104C66.006 105.408 66.39 106.788 67.108 108H42.148L57.8 87.718ZM4.00003 116L6.00003 112H114L116 116H4.00003Z"
                  fill="#333333"
                />
              </g>
              <defs>
                <clipPath id="clip0_98_2800">
                  <rect width="120" height="120" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <h3 class="h4 fc-p fw-6">Secure Transportation</h3>
            <p class="fc-p p-18 fw-4">
              With padded compartments and secure straps, our backpacks keep
              your drone and accessories safely in place during transportation,
              minimizing the risk of damage or loss.
            </p>
          </div>
          <div class="maxbalk-card --white-bg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="120"
              height="120"
              viewBox="0 0 120 120"
              fill="none"
            >
              <path
                d="M23.4375 77.8125L4.6875 96.5625L23.4375 115.312M115.312 96.5625L96.5625 115.312L77.8125 96.5625M96.5625 42.1875L115.312 23.4375L96.5625 4.6875M4.6875 23.4375L23.4375 4.6875L42.1875 23.4375"
                stroke="#333333"
                stroke-width="6"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M23.4375 4.6875V23.4375C23.4375 37.4048 31.0734 49.5886 42.3987 56.0419M77.6013 63.9581C88.9266 70.4114 96.5625 82.5952 96.5625 96.5625V115.312M4.6875 96.5625H23.4375C44.148 96.5625 60 80.7108 60 60C60 39.2895 75.8517 23.4375 96.5625 23.4375H115.312"
                stroke="#333333"
                stroke-width="6"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <h3 class="h4 fc-p fw-6">Versatile Use</h3>
            <p class="fc-p p-18 fw-4">
              Whether you're traveling, hiking, or exploring remote locations,
              our drone backpacks provide a convenient and secure way to
              transport your equipment.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- ! Key Features -->

    <!-- ! Call to action -->
    <section
      class="call-to-action p-t-50 p-b-50"
      style="background: var(--white)"
    >
      <div class="maxbalk-container call-to-action__container">
        <h2 class="h2 fc-p fw-6">
          Experience Convenience and Protection with MAXBALK's Drone Backpack
        </h2>
        <a class="btn__dark-br" href="/contact">Contact</a>
      </div>
    </section>
    <!-- ! Call to action -->

   
    <!-- ! Industry Solutions -->
    <section class="industry-solutions --dark-bg p-t-100">
      <div class="industry-solutions__container">
        <div class="insdustry-solutions__heading maxbalk-container m-b-50">
          <h2 class="h2 fc-w fw-6">Industry Solutions</h2>
          <a class="btn__white-br" href="/industry">View All</a>
        </div>
        <p class="p-18 fc-w fw-4 p-b-50 maxbalk-container">
          We specialize in delivering customized solutions to meet the unique
          challenges of your sector. Explore our comprehensive range of services
          and discover how MAXBALK can help your business thrive in today's
          competitive landscape.
        </p>
        <div class="industry-solutions__lr-container">
          <span class="red"></span>
          <div class="maxbalk-container industry-solutions__grid">
            <div class="industry-solutions__left-div p-t-100 p-b-100">
              <h2 class="h3 fw-6 fc-w">Defense</h2>
              <p class="p-18 fc-w fw-4">
                In the defensesector, Maxbalk is dedicated to becoming a trusted
                name, aspiring to set newbenchmarks rather than just meet
                existing ones.
              </p>
              <a href="" class="btn__white-br">Learn More</a>
            </div>
            <div class="industry-solutions__right-div p-t-100 p-b-100">
              <h2 class="h3 fw-6 fc-w">Industrial Automation</h2>
              <p class="p-18 fc-w fw-4">
                In the realm of industrial automation, Maxbalk's defense
                solutions are meticulously engineered to align with
                international safety and efficiency standards.
              </p>
              <a href="" class="btn__white-br">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ! Industry Solutions -->

    <!-- ! Call to action -->
    <section
      class="call-to-action p-t-50 p-b-50"
      style="background: var(--white)"
    >
      <div class="maxbalk-container call-to-action__container">
        <h2 class="h2 fc-p fw-6">Join Us: Experience the MAXBALK Difference</h2>
        <p class="fc-p p-20 fw-4">
          Whether you're looking to explore new technologies, optimize your
          processes, or solve complex challenges, MAXBALK is here to help.
          Partner with us today and experience the MAXBALK difference for
          yourself.
        </p>
        <a class="btn__dark-br" href="/contact">Contact</a>
      </div>
    </section>
    <!-- ! Call to action -->

    <%- include('partials/footer'); -%>
  </body>
</html>
