<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAXBALK Testimonial</title>
    <meta name="description" content="Maxbalk Testimonial" />
    <meta
      name="robots"
      content="max-image-preview:large, max-snippet:-1, max-video-preview:-1 "
    />
    <%- include('partials/preconnect') %>
    <link
      rel="preload"
      as="image"
      href="https://maxbalk.com/images/Comprehensive-Services.webp"
    />

    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:title" content="MAXBALK Testimonial " />
    <meta property="og:description" content="" />
    <meta property="og:url" content="https://maxbalk.com/testimonial" />
    <link rel="canonical" href="https://maxbalk.com/testimonial" />

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta name="twitter:title" content="MAXBALK Testimonial " />
    <meta name="twitter:description" content="Maxbalk Testimonial" />

    <%- include('partials/metas'); -%>
  </head>
  <body>
    <%- include('partials/navbar'); -%>

    <!-- ! Banner Section -->
    <section class="banner service-banner p-t-100 p-b-100">
      <div class="maxbalk-container banner__container">
        <h1 class="h2 fc-w fw-6">Maxbalk Testimonial</h1>
      </div>
    </section>
    <!-- ! Banner Section -->

    <!-- ! Testimonials -->
    <section class="p-t-100 p-b-100 --dark-bg">
      <div class="maxbalk-container testimonial">
        <figure class="snip1192">
          <blockquote>
            Calvin: Sometimes when I'm talking with others, my words can't keep
            up with my thoughts. I wonder why we think faster than we speak.
            Hobbes: Probably so we can think twice.
          </blockquote>
          <div class="author">
            <img
              src="https://t4.ftcdn.net/jpg/03/78/43/25/360_F_378432516_6IlKiCLDAqSCGcfc6o8VqWhND51XqfFm.jpg"
              alt="sq-sample1"
            />
            <h5>Pelican Steve <span> LittleSnippets</span></h5>
          </div>
        </figure>
        <figure class="snip1192 hover">
          <blockquote>
            Thank you. before I begin, I'd like everyone to notice that my
            report is in a professional, clear plastic binder...When a report
            looks this good, you know it'll get an A. That's a tip kids. Write
            it down.
          </blockquote>
          <div class="author">
            <img
              src="https://t4.ftcdn.net/jpg/03/78/43/25/360_F_378432516_6IlKiCLDAqSCGcfc6o8VqWhND51XqfFm.jpg"
              alt="sq-sample24"
            />
            <h5>Max Conversion<span> LittleSnippets</span></h5>
          </div>
        </figure>
        <figure class="snip1192">
          <blockquote>
            My behaviour is addictive functioning in a disease process of toxic
            co-dependency. I need holistic healing and wellness before I'll
            accept any responsibility for my actions.
          </blockquote>
          <div class="author">
            <img
              src="https://t4.ftcdn.net/jpg/03/78/43/25/360_F_378432516_6IlKiCLDAqSCGcfc6o8VqWhND51XqfFm.jpg"
              alt="sq-sample29"
            />
            <h5>Eleanor Faint<span> LittleSnippets</span></h5>
          </div>
        </figure>
        <figure class="snip1192">
          <blockquote>
            My behaviour is addictive functioning in a disease process of toxic
            co-dependency. I need holistic healing and wellness before I'll
            accept any responsibility for my actions.
          </blockquote>
          <div class="author">
            <img
              src="https://t4.ftcdn.net/jpg/03/78/43/25/360_F_378432516_6IlKiCLDAqSCGcfc6o8VqWhND51XqfFm.jpg"
              alt="sq-sample29"
            />
            <h5>Eleanor Faint<span> LittleSnippets</span></h5>
          </div>
        </figure>
        <figure class="snip1192">
          <blockquote>
            My behaviour is addictive functioning in a disease process of toxic
            co-dependency. I need holistic healing and wellness before I'll
            accept any responsibility for my actions.
          </blockquote>
          <div class="author">
            <img
              src="https://t4.ftcdn.net/jpg/03/78/43/25/360_F_378432516_6IlKiCLDAqSCGcfc6o8VqWhND51XqfFm.jpg"
              alt="sq-sample29"
            />
            <h5>Eleanor Faint<span> LittleSnippets</span></h5>
          </div>
        </figure>
      </div>
    </section>
    <!-- ! Testimonials -->

    <!-- ! Call to action -->
    <section
      class="call-to-action p-t-50 p-b-50"
      style="background: var(--white)"
    >
      <div class="maxbalk-container call-to-action__container">
        <h2 class="h2 fc-p fw-6">Join Us: Experience the MAXBALK Difference</h2>
        <p class="fc-p p-20 fw-4">
          Whether you're looking to explore new technologies, optimize your
          processes, or solve complex challenges, MAXBALK is here to help.
          Partner with us today and experience the MAXBALK difference for
          yourself.
        </p>
        <a class="btn__dark-br" href="/contact">Contact</a>
      </div>
    </section>
    <!-- ! Call to action -->
    <%- include('partials/footer'); -%>
  </body>
</html>
